<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>me.matthewdias.kitsu-alfred</string>
    <key>category</key>
    <string>Internet</string>
    <key>connections</key>
    <dict>
      <key>3F3071E0-9155-4976-A5FB-4BB700CD21E7</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EB521FE0-7588-44BB-8242-AE9A373E0015</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>984EF248-8E12-4076-A3E8-798BDB9E0CC5</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EB521FE0-7588-44BB-8242-AE9A373E0015</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>9EBD53B8-5618-41C8-8D5F-9A0CC1E4A049</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EB521FE0-7588-44BB-8242-AE9A373E0015</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Kitsu</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>ku</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node users.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>Search Users</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>9EBD53B8-5618-41C8-8D5F-9A0CC1E4A049</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>browser</key>
          <string/>
          <key>spaces</key>
          <string/>
          <key>url</key>
          <string>{query}</string>
          <key>utf8</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>EB521FE0-7588-44BB-8242-AE9A373E0015</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>ka</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node anime.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>Search Anime</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>3F3071E0-9155-4976-A5FB-4BB700CD21E7</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>km</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node manga.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>Search Manga</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>984EF248-8E12-4076-A3E8-798BDB9E0CC5</string>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>3F3071E0-9155-4976-A5FB-4BB700CD21E7</key>
      <dict>
        <key>xpos</key>
        <integer>100</integer>
        <key>ypos</key>
        <integer>170</integer>
      </dict>
      <key>984EF248-8E12-4076-A3E8-798BDB9E0CC5</key>
      <dict>
        <key>xpos</key>
        <integer>100</integer>
        <key>ypos</key>
        <integer>290</integer>
      </dict>
      <key>9EBD53B8-5618-41C8-8D5F-9A0CC1E4A049</key>
      <dict>
        <key>xpos</key>
        <integer>100</integer>
        <key>ypos</key>
        <integer>50</integer>
      </dict>
      <key>EB521FE0-7588-44BB-8242-AE9A373E0015</key>
      <dict>
        <key>xpos</key>
        <integer>350</integer>
        <key>ypos</key>
        <integer>170</integer>
      </dict>
    </dict>
  </dict>
</plist>
